.type-1839 {
  padding-top: 399px;
  position: relative;
  width: 100%;
  min-height: 30px;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.08); }
  .type-1839 .banner .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    height: 100%;
    left: -1px;
    right: -1px;
    transition: transform 0.3s, opacity 0.6s;
    pointer-events: none; }
  .type-1839 .banner .banner-fill {
    background: url(../images/1.jpg);
    background-position: 53% 43%;
    transition: filter 0.6s, opacity 0.6s, transform 0.6s, box-shadow 0.3s;
    opacity: 1;
    background-size: cover !important;
    background-repeat: no-repeat !important; }
  .type-1839 .banner .banner-layers {
    max-height: 100%;
    height: 100%;
    position: relative;
    max-width: 1080px; }
    .type-1839 .banner .banner-layers .text-box {
      width: 58%;
      position: absolute !important;
      transform: translate(-50%, -50%) !important;
      font-size: 16px;
      top: 50%;
      left: 50%;
      max-height: 100%; }
      .type-1839 .banner .banner-layers .text-box .text {
        text-align: center;
        color: #fff; }
        .type-1839 .banner .banner-layers .text-box .text .uppercase {
          line-height: 1.2;
          text-transform: uppercase;
          letter-spacing: 0.05em; }
        .type-1839 .banner .banner-layers .text-box .text h2 {
          padding: 0;
          margin-top: 0.2em;
          margin-bottom: 0.2em;
          line-height: 1;
          font-size: 2.9em; }
          .type-1839 .banner .banner-layers .text-box .text h2 strong {
            font-weight: 600; }
        .type-1839 .banner .banner-layers .text-box .text h4 {
          padding: 0;
          font-size: 1.5em;
          margin-top: 0.6em;
          margin-bottom: 0.6em; }
        .type-1839 .banner .banner-layers .text-box .text .timer {
          width: 100%;
          position: relative;
          border-spacing: 5px;
          margin: 0.3em 0 0.2em;
          font-size: 300%;
          display: table;
          table-layout: fixed; }
          .type-1839 .banner .banner-layers .text-box .text .timer span {
            display: table-cell;
            font-weight: bolder;
            text-align: center;
            color: #FFF;
            line-height: 80%;
            padding: 0.4em 0.1em 0.1em;
            margin: 0 0.05em 0.2em;
            border-radius: 5px;
            background-color: rgba(255, 255, 255, 0.23); }
            .type-1839 .banner .banner-layers .text-box .text .timer span strong {
              font-size: 30%;
              opacity: 0.7;
              text-transform: uppercase;
              display: block;
              font-weight: 600; }
        .type-1839 .banner .banner-layers .text-box .text .btn-browse {
          background-color: #11519B;
          margin-top: 0.5em;
          margin-bottom: 0.5em;
          display: inline-block;
          text-transform: uppercase;
          font-size: 0.97em;
          letter-spacing: 0.03em;
          font-weight: bolder;
          border: 1px solid transparent;
          line-height: 2.4em;
          padding: 0 1.2em;
          color: #fff;
          transition: transform 0.3s, border 0.3s, box-shadow 0.3s, opacity 0.3s, color 0.3s; }
        .type-1839 .banner .banner-layers .text-box .text .btn-browse:hover {
          text-decoration: none;
          background-color: #0e417c !important; }
  .type-1839 .banner .banner-bg {
    height: 398px;
    transform: translate3d(0px, -22.89px, 0px);
    backface-visibility: hidden; }
  .type-1839 .fill-picture {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    right: 0;
    bottom: 0;
    padding: 0 !important;
    margin: 0 !important; }
