.title {
  color: #f1f1f1;
  font-weight: 600;
  font-size: 1em;
  letter-spacing: 0.05em;
  text-transform: uppercase; }

.divider {
  margin-top: 10.56px;
  height: 3px;
  background-color: rgba(255, 255, 255, 0.3);
  margin-bottom: 16px;
  width: 100%;
  max-width: 30px; }

li + li {
  border-top: 1px solid rgba(255, 255, 255, 0.08); }

.type-1841 {
  background-color: #777;
  color: #f1f1f1;
  padding-top: 30px;
  font-family: "Lato", sans-serif;
  line-height: 1.6; }

.list-date {
  padding-left: 0; }

.icon {
  margin-left: 0.12em;
  margin-right: 0.12em;
  min-width: 2.5em;
  padding-left: 0.6em;
  padding-right: 0.6em;
  display: inline-block;
  border: 2px solid currentColor;
  border-color: rgba(255, 255, 255, 0.5);
  background-color: transparent;
  border-radius: 999px !important;
  line-height: 2.19em;
  text-align: center;
  transition: transform 0.3s;
  font-size: 0.85em; }
  .icon span {
    color: #f1f1f1;
    font-size: 1.2em; }

.icons .facebook:hover {
  color: #3a589d; }
.icons .instagram {
  color: #3b6994; }
.icons .twitter {
  color: #2478ba; }
.icons .envelope-o {
  color: #111; }
.icons .pinterest {
  color: #cb2320; }
.icons .icon:hover {
  background-color: currentColor !important;
  border-color: currentColor !important; }

.list-date a:hover {
  text-decoration: none; }

.li-date {
  list-style: none;
  padding: 10px 0 10px;
  display: flex; }
  .li-date .box {
    margin-right: 15px; }
  .li-date .box-date {
    color: #f1f1f1;
    opacity: 0.7;
    border: 2px solid currentColor;
    line-height: 0.7;
    text-align: center;
    display: table-cell;
    font-weight: bolder;
    width: 2.3em;
    height: 2.3em;
    display: table-cell;
    vertical-align: middle;
    margin-right: 15px; }
    .li-date .box-date .month {
      font-size: 0.7em; }
  .li-date a {
    color: #f1f1f1;
    display: block; }
  .li-date a:hover {
    color: #fff; }

.tagcloud a {
  color: currentColor;
  font-size: 0.8em !important;
  display: inline-block;
  border: 1px solid currentColor;
  opacity: 0.8;
  margin: 0 3px 5px 0;
  padding: 2px 5px;
  border-radius: 3px; }
.tagcloud a:hover {
  color: #f1f1f1;
  border-color: #111;
  text-decoration: none;
  background-color: #111; }

.sign-up {
  margin-bottom: 1.3em; }

.form span {
  margin-bottom: 1em; }
  .form span input {
    background-color: rgba(255, 255, 255, 0.2) !important;
    border-color: rgba(255, 255, 255, 0.02);
    border-radius: 99px;
    padding: 0 0.75em;
    height: 2.507em;
    font-size: 0.97em;
    margin-bottom: 1.3em;
    font: inherit;
    max-width: 100%; }
    .form span input::placeholder {
      color: #fff; }
.form a {
  text-transform: uppercase;
  font-size: 0.97em;
  letter-spacing: 0.03em;
  color: #f1f1f1;
  border: 1px solid transparent;
  font-weight: bolder;
  padding: 8px 1.2em;
  background-color: #11519B;
  border-radius: 99px;
  min-height: 2.5em; }
.form a:hover {
  text-decoration: none;
  color: #f1f1f1;
  background-color: #0e417c; }

.col {
  max-width: 270px !important; }

.margin-col {
  margin-right: 219.6px !important;
  margin-left: 219.6px !important; }
